<div class="modal-header">
    <button type="button" class="close" ng-click="vm.closeModal()" aria-hidden="true">x</button>
    <h4 class="modal-title">{{vm.dataModal.title}}</h4>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <h5>
        {{vm.dataModal.message}}
      </h5>
    </div>
  </div>
</div>

<div class="modal-footer" ng-style="{'text-align' : vm.dataModal.positionButtons}">
  <button type="button" ng-click="vm.actionCancel()" ng-class="vm.dataModal.buttonCancelClass"><i ng-class="vm.dataModal.buttonCancelIcon"></i> {{vm.dataModal.cancelText}}</button>
  <button type="button" ng-click="vm.actionOk()" ng-class="vm.dataModal.buttonConfirmClass"><i ng-class="vm.dataModal.buttonConfirmIcon"></i> {{vm.dataModal.confirmText}}</button>
</div>


