<div class="modal-header">
    <button type="button" class="close" ng-click="vm.closeModal()" aria-hidden="true">x</button>
    <h4 class="modal-title">{{vm.dataModal.acbTitle}}</h4>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <h5>
        {{vm.dataModal.acbMessage}}
      </h5>
    </div>
  </div>
</div>

<div class="modal-footer" ng-style="{'text-align' : vm.dataModal.acbPositionButtons}">
  <button type="button" ng-click="vm.actionCancel()" ng-class="vm.dataModal.acbButtonCancelClass"><i ng-class="vm.dataModal.acbButtonCancelIcon"></i> {{vm.dataModal.acbCancelText}}</button>
  <button type="button" ng-click="vm.actionOk()" ng-class="vm.dataModal.acbButtonConfirmClass"><i ng-class="vm.dataModal.acbButtonConfirmIcon"></i> {{vm.dataModal.acbConfirmText}}</button>
</div>


